<section class="container" id="advantages">
  <h2 class="advantages-heading">Advantages</h2>
  <ul class="advantages-list">
    <li class="advantages-item">
      <h4 class="advantage-title">Vibrant Graphics:</h4>
      <p class="advantage-text">
        Enjoy beautiful, colorful underwater graphics.
      </p>
    </li>
    <li class="advantages-item">
      <h4 class="advantage-title">Engaging Levels:</h4>
      <p class="advantage-text">Hundreds of levels with unique challenges.</p>
    </li>
    <li class="advantages-item">
      <h4 class="advantage-title">Power-ups and Boosts:</h4>
      <p class="advantage-text">
        Use exciting power-ups to solve tough puzzles.
      </p>
    </li>
    <li class="advantages-item">
      <h4 class="advantage-title">Regular Updates:</h4>
      <p class="advantage-text">New levels and features added regularly.</p>
    </li>
    <li class="advantages-item">
      <h4 class="advantage-title">Family-Friendly:</h4>
      <p class="advantage-text">Fun for players of all ages.</p>
    </li>
    <li class="advantages-item">
      <h4 class="advantage-title">Offline Play:</h4>
      <p class="advantage-text">Play without an internet connection.</p>
    </li>
  </ul>
  <div class="advantages-foam-bubble-first bubble semitransparent-single"></div>
  <div class="advantages-foam-bubble-second bubble foamed-single"></div>
  <div class="advantages-foam-bubble-third bubble foamed-single"></div>
  <div class="advantages-foam-bubble-fourth bubble foamed-single"></div>
  <div class="advantages-foam-bubble-fifth bubble semitransparent-single"></div>
  <div class="advantages-foam-bubble-sixth bubble semitransparent-single"></div>
  <div
    class="advantages-foam-bubble-seventh bubble semitransparent-single"
  ></div>
</section>
