<section class="benefits" id="benefits">
  <div class="container">
    <div class="text-content">
      <h2 class="bene-title">Benefits</h2>
      <p class="bene-subtitle">
        Dive into the deep ocean puzzles of "Ocean Blast!" Match sea creatures
        to solve challenging levels and explore underwater secrets!
      </p>
    </div>
    <ul class="bene-list">
      <li class="bene-item">
        <p class="bene-item-value">50K+</p>
        <p class="bene-item-desc">Downloads</p>
      </li>
      <li class="bene-item">
        <p class="bene-item-value">
          4,8
          <svg class="star" width="68" height="66">
            <use href="/img/sprite.svg#star"></use>
          </svg>
        </p>
        <p class="bene-item-desc">Rating</p>
      </li>
      <li class="bene-item">
        <p class="bene-item-value">1000+</p>
        <p class="bene-item-desc">Reviews</p>
      </li>
      <li class="bene-item">
        <p class="bene-item-value last-bene-value">
          On/Off<br />
          line
        </p>
        <p class="bene-item-desc">Mode</p>
      </li>
    </ul>
  </div>
</section>
