<section class="container benefits">
  <div class="text-content">
    <h2>Benefits</h2>
    <p>
      Dive into the deep ocean puzzles of "Ocean Blast!" Match sea creatures to
      solve challenging levels and explore underwater secrets!
    </p>
  </div>
  <ul class="bene-list">
    <li class="bene-item">
      <p>50K+</p>
      <p>Downloads</p>
    </li>
    <li class="bene-item">
      <p>
        4,8
        <svg width="68" height="66">
          <use href="../img/sprite.svg#star"></use>
        </svg>
      </p>
      <p>Rating</p>
    </li>
    <li class="bene-item">
      <p>1000+</p>
      <p>Reviews</p>
    </li>
    <li class="bene-item">
      <p>On/Off line</p>
      <p>Mode</p>
    </li>
  </ul>
</section>
