<section class="container" id="faq">
  <h2 class="faq-heading">FAQ</h2>
  <ul class="faq-list">
    <li class="faq-list-item">
      <button class="faq-btn faq-item-child">
        How do I start playing?
        <svg class="icon-arrow">
          <use href="../img/sprite.svg#arrow-down"></use>
        </svg>
      </button>
      <div class="faq-answer faq-item-child visually-hidden">
        Just download the app and hit 'Play'.
      </div>
    </li>
    <li class="faq-list-item">
      <button class="faq-btn faq-item-child">
        Is the game free?
        <svg class="icon-arrow">
          <use href="../img/sprite.svg#arrow-down"></use>
        </svg>
      </button>
      <div class="faq-answer faq-item-child visually-hidden">
        Yes, with optional in-app purchases.
      </div>
    </li>
    <li class="faq-list-item">
      <button class="faq-btn faq-item-child">
        Can I play offline?
        <svg class="icon-arrow" width="56" height="56">
          <use href="../img/sprite.svg#arrow-down"></use>
        </svg>
      </button>
      <div class="faq-answer faq-item-child visually-hidden">
        Absolutely, enjoy the game anywhere!
      </div>
    </li>
    <li class="faq-list-item">
      <button class="faq-btn faq-item-child">
        How do I get power-ups?
        <svg class="icon-arrow" width="56" height="56">
          <use href="../img/sprite.svg#arrow-down"></use>
        </svg>
      </button>
      <div class="faq-answer faq-item-child visually-hidden">
        Earn or purchase them as you play.
      </div>
    </li>
    <li class="faq-list-item">
      <button class="faq-btn faq-item-child">
        What are the main objectives?
        <svg class="icon-arrow" width="56" height="56">
          <use href="../img/sprite.svg#arrow-down"></use>
        </svg>
      </button>
      <div class="faq-answer faq-item-child visually-hidden">
        Match sea creatures to clear levels.
      </div>
    </li>
    <li class="faq-list-item">
      <button class="faq-btn faq-item-child">
        How do I save my progress?
        <svg class="icon-arrow" width="56" height="56">
          <use href="../img/sprite.svg#arrow-down"></use>
        </svg>
      </button>
      <div class="faq-answer faq-item-child visually-hidden">
        Automatically saved in device or via account.
      </div>
    </li>
    <li class="faq-list-item">
      <button class="faq-btn faq-item-child">
        Can I play with friends?
        <svg class="icon-arrow" width="56" height="56">
          <use href="../img/sprite.svg#arrow-down"></use>
        </svg>
      </button>
      <div class="faq-answer faq-item-child visually-hidden">
        Currently, it's a single-player experience.
      </div>
    </li>
    <li class="faq-list-item">
      <button class="faq-btn faq-item-child">
        Are there timed levels?
        <svg class="icon-arrow" width="56" height="56">
          <use href="../img/sprite.svg#arrow-down"></use>
        </svg>
      </button>
      <div class="faq-answer faq-item-child visually-hidden">
        Yes, some levels require completion within a time limit.
      </div>
    </li>
    <li class="faq-list-item">
      <button class="faq-btn faq-item-child">
        What to do if I get stuck on a level?
        <svg class="icon-arrow" width="56" height="56">
          <use href="../img/sprite.svg#arrow-down"></use>
        </svg>
      </button>
      <div class="faq-answer faq-item-child visually-hidden">
        Use power-ups or restart the level.
      </div>
    </li>
    <li class="faq-list-item">
      <button class="faq-btn faq-item-child">
        Who do I contact for support?
        <svg class="icon-arrow" width="56" height="56">
          <use href="../img/sprite.svg#arrow-down"></use>
        </svg>
      </button>
      <div class="faq-answer faq-item-child visually-hidden">
        Check the support section in the game settings.
      </div>
    </li>
  </ul>
</section>
