<section class="container" id="gallery">
  <h2 class="gallery-heading">Gallery</h2>
  <div class="swiper">
    <div class="swiper-wrapper gallery-items">
      <div class="swiper-slide">
        <img
          src="/img/gallery/gallery-1.jpg"
          alt="Help Them!"
          class="gallery-img"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/img/gallery/gallery-2.jpg"
          alt="Ocean Splash"
          class="gallery-img"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/img/gallery/gallery-3.jpg"
          alt="Unlock Stage"
          class="gallery-img"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/img/gallery/gallery-4.jpg"
          alt="Hidden Treats"
          class="gallery-img"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/img/gallery/gallery-5.jpg"
          alt="Match!"
          class="gallery-img"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/img/gallery/gallery-6.jpg"
          alt="Fun & Easy"
          class="gallery-img"
        />
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <div class="gallery-transparent-bubble-first bubble transparent-single"></div>
  <div
    class="gallery-transparent-bubble-second bubble transparent-single"
  ></div>
  <div class="gallery-foam-bubble-first bubble foamed-single"></div>
  <div class="gallery-foam-bubble-second bubble foamed-single"></div>
  <div class="gallery-foam-bubble-third bubble foamed-single"></div>
</section>
