<section class="hero" id="hero">
  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="title">Ocean<br /><span class="splash">Splash</span></h1>
      <img
        class="main-back"
        src="../img/hero/mainscreen@mobile@1x.png"
        alt=""
      />
    </div>

    <button class="google-link-btn" type="button">
      <a class="google-link" href="#" target="_blank">
        <img src="../img/hero/google-play.png" alt="Google Play link to game" />
      </a>
    </button>
  </div>
  <div>
    <img
      class="bottom-back"
      src="/img/hero/bottomback.png"
      alt="bottom background"
      width="100%"
    />
  </div>
</section>
