<section class="hero" id="hero">
  <div class="container over">
    <div class="hero-content">
      <h1 class="title">Ocean<br /><span class="splash">Splash</span></h1>
      <a href="#" target="_blank">
        <img
          class="google-link"
          src="../img/hero/google-play.png"
          alt="Google Play link to game"
        />
      </a>
    </div>
    <div>
      <img
        class="bottom-back"
        src="../img/hero/bottomback.png"
        alt="bottom background"
      />
    </div>
  </div>
</section>
