<section class="container" id="reviews">
  <h2 class="reviews-heading">Reviews</h2>
  <ul class="reviews-list">
    <li class="reviews-list-item">
      <h4 class="review-title">OceanLover101:</h4>
      <p class="review-text">
        "Stunning visuals and really addictive gameplay! Love the underwater
        theme"
      </p>
    </li>
    <li class="reviews-list-item">
      <h4 class="review-title">DeepSeaDiver:</h4>
      <p class="review-text">"Challenging and fun - great way to pass time"</p>
    </li>
    <li class="reviews-list-item">
      <h4 class="review-title">CoralReef:</h4>
      <p class="review-text">"Challenging and fun - great way to pass time"</p>
    </li>
    <li class="reviews-list-item">
      <h4 class="review-title">MermaidMagic:</h4>
      <p class="review-text">
        "I can play for hours! So relaxing and entertaining"
      </p>
    </li>
    <li class="reviews-list-item">
      <h4 class="review-title">AquaticJoy:</h4>
      <p class="review-text">
        "Best match-3 game out there. It's so engaging and the graphics are
        top-notch!"
      </p>
    </li>
    <li class="reviews-list-item">
      <h4 class="review-title">SharkFanatic:</h4>
      <p class="review-text">
        "Great for kids and adults alike. Highly recommend for puzzle lovers"
      </p>
    </li>
  </ul>
  <div
    class="reviews-semitransparent-bubble-first bubble semitransparent-single"
  ></div>
  <div
    class="reviews-semitransparent-bubble-second bubble semitransparent-single"
  ></div>
  <div class="reviews-transparent-bubble bubble transparent-single"></div>
  <div class="reviews-foam-bubble-first bubble foamed-single"></div>
  <div class="reviews-foam-bubble-second bubble foamed-single"></div>
  <div class="reviews-foam-bubble-third bubble foamed-single"></div>
  <div class="reviews-foam-bubble-fourth bubble foamed-single"></div>
  <div class="reviews-foam-bubble-fifth bubble foamed-single"></div>
  <div class="reviews-foam-bubble-sixth bubble foamed-single"></div>
  <div class="reviews-foam-bubble-seventh bubble foamed-single"></div>
  <div class="reviews-foam-bubble-eighth bubble foamed-single"></div>
  <div class="reviews-foam-bubble-ninth bubble foamed-single"></div>
  <div class="reviews-foam-bubble-tenth bubble foamed-single"></div>
  <div class="reviews-foam-bubble-eleventh bubble foamed-single"></div>
  <div class="reviews-foam-bubble-twelfth bubble foamed-single"></div>
  <div class="reviews-foam-bubble-thirteenth bubble foamed-single"></div>
  <div class="reviews-foam-bubble-fourteenth bubble foamed-single"></div>
</section>
