.about-text {
  text-align: right;
}

.about-title {
  font-family: "SansitaOne", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
  color: #48a7ff;
  margin-bottom: 24px;
}

.about-subtitle {
  font-family: "Krub", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.78;
}

@media screen and (min-width: 1439px) {
  .about-title {
    font-weight: 400;
    font-size: 72px;
    line-height: 1.22;
    margin-bottom: 48px;
  }

  .about-subtitle {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.71;
  }
}