#about {
  position: relative;
  padding-bottom: 83px;
}

.about-text {
  text-align: right;
}

.about-title {
  font-family: 'SansitaOne', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
  color: #48a7ff;
  margin-bottom: 24px;
}

.about-subtitle {
  font-family: 'Krub', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.78;
}

.bottom-back {
  position: absolute;
  top: calc(100% - 83px);
  left: 0;
  height: 83px;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/about/bottom-about-mob.png);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .bottom-back {
    background-image: url(../img/about/bottom-about-mob-2x.png);
  }
}

.about-foam-bubble-first {
  top: 80px;
  left: 5px;
  width: 32px;
  height: 31px;
}

.about-foam-bubble-second {
  top: 105px;
  left: 16px;
  width: 20px;
  height: 20px;
}

.about-foam-bubble-third {
  top: 430px;
  left: 61px;
  width: 32px;
  height: 31px;
}

.about-foam-bubble-fourth {
  bottom: 62px;
  left: 55px;
  width: 22px;
  height: 21px;
}

.about-foam-bubble-fifth {
  bottom: 43px;
  left: 71px;
  width: 15px;
  height: 15px;
}

.about-foam-bubble-sixth {
  bottom: 28px;
  left: 69px;
  width: 8px;
  height: 8px;
}

@media screen and (min-width: 1440px) {
  #about {
    padding-bottom: 467px;
    padding-left: 182px;
    padding-right: 182px;
  }

  .about-title {
    font-weight: 400;
    font-size: 72px;
    line-height: 1.22;
    margin-bottom: 48px;
  }

  .about-subtitle {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.71;
  }

  .bottom-back {
    height: 392px;
    width: 100vw;
    top: calc(100% - 392px);
    background-image: url(../img/about/bottom-about-desktop.png);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .bottom-back {
      background-image: url(../img/about/bottom-about-desktop-2x.png);
    }
  }

  .about-transparent-bubble-first {
    top: 292px;
    right: 18px;
    width: 86px;
    height: 86px;
  }

  .about-transparent-bubble-second {
    z-index: -10;
    top: 351px;
    right: 67px;
    width: 54px;
    height: 54px;
  }

  .about-transparent-bubble-third {
    top: 461px;
    right: 104px;
    width: 37px;
    height: 37px;
  }

  .about-foam-bubble-first {
    top: 473px;
    left: 171px;
    width: 171px;
    height: 166px;
  }

  .about-foam-bubble-second {
    top: 613px;
    left: 146px;
    width: 83px;
    height: 81px;
  }

  .about-foam-bubble-third {
    top: 692px;
    left: 190px;
    width: 57px;
    height: 56px;
  }

  .about-foam-bubble-fourth,
  .about-foam-bubble-fifth,
  .about-foam-bubble-seventh {
    display: none;
  }
}
