.advantages-container {
  padding: 184px 72px 0;
  width: 100%;
}

.advantages-heading {
  margin-left: 116.5px;
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 72px;
  line-height: 122%;
  color: #48a7ff;
}

.advantages-list {
  width: 100%;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 313px;
  /* width: calc((100% / 3) - 48px); */
  width: 416px;
  border: 4px solid #d088ee;
  border-radius: 32px;
  padding: 73px 54px;
}

.advantages-list .advantages-item:nth-child(1),
.advantages-list .advantages-item:nth-child(2) {
  padding: 73px 85px;
}

.advantage-title {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 143%;
  color: #ffd53f;
}

.advantage-text {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 143%;
  color: #ffffff;
}
