#advantages {
  padding-top: 48px;
  position: relative;
}

.advantages-heading {
  margin-bottom: 24px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: #48a7ff;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 218px;
  width: 100%;
  border: 4px solid #d088ee;
  border-radius: 32px;
  padding: 48px 25px 0;
}

.advantages-list .advantages-item:nth-child(1),
.advantages-list .advantages-item:nth-child(2) {
  padding: 48px 39px 0 38px;
}

.advantage-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  color: #ffd53f;
}

.advantage-text {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 178%;
  color: #ffffff;
}

.advantages-foam-bubble-first {
  z-index: -1;
  top: 278px;
  right: -3px;
  width: 62px;
  height: 61px;
}

.advantages-foam-bubble-second {
  top: 538px;
  left: 35px;
  width: 33px;
  height: 32px;
}

.advantages-foam-bubble-third {
  top: 558px;
  left: 10px;
  width: 42px;
  height: 41px;
}

.advantages-foam-bubble-fourth {
  top: 619px;
  left: 45px;
  width: 21px;
  height: 21px;
}

.advantages-foam-bubble-fifth {
  bottom: 292px;
  right: 60px;
  width: 57px;
  height: 61px;
}

.advantages-foam-bubble-sixth {
  bottom: 264px;
  right: 49px;
  width: 38px;
  height: 37px;
}

.advantages-foam-bubble-seventh {
  bottom: 242px;
  right: 78px;
  width: 19px;
  height: 19px;
}

@media screen and (min-width: 1440px) {
  #advantages {
    padding-top: 184px;
  }

  .advantages-heading {
    margin-left: 116.5px;
    margin-bottom: 48px;
    font-size: 72px;
    line-height: 122%;
  }

  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages-item {
    flex-grow: 1;
    height: 313px;
    width: calc((100% / 3) - 48px);
    padding: 73px 54px;
  }

  .advantages-list .advantages-item:nth-child(1),
  .advantages-list .advantages-item:nth-child(2) {
    padding: 73px 85px;
  }

  .advantage-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 143%;
  }

  .advantage-text {
    font-size: 24px;
    line-height: 143%;
  }

  .advantages-foam-bubble-first,
  .advantages-foam-bubble-second,
  .advantages-foam-bubble-third,
  .advantages-foam-bubble-fourth,
  .advantages-foam-bubble-fifth,
  .advantages-foam-bubble-sixth,
  .advantages-foam-bubble-seventh {
    display: none;
  }
}
