#faq {
  padding-top: 48px;
  position: relative;
}

.faq-heading {
  font-family: 'SansitaOne';
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  text-align: right;
  color: #48a7ff;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.faq-list-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-item-child {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 16px;
  height: 64px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  color: #ffffff;
}

.icon-arrow {
  width: 41px;
  height: 40px;
}

.faq-answer {
  padding: 10px 20px;
  background: linear-gradient(180deg, #6464fe 0%, #1e1e67 100%);
}

.faq-btn {
  text-align: left;
  justify-content: space-between;
  background: linear-gradient(180deg, #3c3ccd 0%, #1e1e67 100%);
  padding: 10px 20px;
  transition: transform 150ms ease-in-out;
}

.faq-btn:hover,
.faq-btn:focus {
  transform: scale(1.01);
}

.arrow-reverse {
  transform: rotate(180deg);
}

.faq-semitransparent-bubble-first {
  top: 47px;
  left: 38px;
  width: 57px;
  height: 61px;
}

.faq-semitransparent-bubble-second {
  top: 79px;
  left: 66px;
  width: 39px;
  height: 42px;
}

.faq-semitransparent-bubble-third {
  top: 603.3px;
  right: -29px;
  width: 45px;
  height: 48px;
}

@media screen and (min-width: 1440px) {
  #faq {
    padding-top: 184px;
  }

  .faq-heading {
    padding-right: 54.4px;
    font-size: 72px;
    line-height: 122%;
  }

  .faq-list {
    gap: 24px;
    margin-top: 48px;
    padding: 0 153px;
  }

  .faq-list-item {
    gap: 24px;
  }

  .faq-item-child {
    border-radius: 32px;
    height: 104px;
    font-size: 28px;
  }

  .icon-arrow {
    width: 56px;
    height: 56px;
  }

  .faq-answer {
    padding-left: 175px;
  }

  .faq-btn {
    padding: 24px 69px 24px 175px;
  }

  .faq-transparent-bubble {
    top: 19px;
    left: 32px;
    width: 109px;
    height: 109px;
  }

  .faq-foam-bubble-first {
    top: 73px;
    left: 86px;
    width: 171px;
    height: 166px;
  }

  .faq-foam-bubble-second {
    top: 227px;
    left: 72px;
    width: 83px;
    height: 81px;
  }

  .faq-foam-bubble-third {
    top: 328px;
    left: 117px;
    width: 57px;
    height: 56px;
  }

  .faq-semitransparent-bubble-first,
  .faq-semitransparent-bubble-second,
  .faq-semitransparent-bubble-third {
    display: none;
  }
}
