#gallery {
  padding-top: 48px;
  padding-bottom: 109px;
  position: relative;
}

.gallery-img {
  border: 4px solid #d088ee;
  border-radius: 32px;
  width: 252px;
  height: 462px;
}

.gallery-heading {
  text-align: right;
  margin-bottom: 24px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: #48a7ff;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.gallery-items {
  padding-left: calc((100% - 252px) / 2);
  padding-right: calc((100% - 252px) / 2);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.gallery-foam-bubble-first {
  bottom: 56px;
  right: 65px;
  width: 58px;
  height: 54px;
}

.gallery-foam-bubble-second {
  bottom: 50px;
  right: 65px;
  width: 33px;
  height: 36px;
}

.gallery-foam-bubble-third {
  bottom: 19px;
  right: 89px;
  width: 18px;
  height: 19px;
}

@media screen and (max-width: 1439px) {
  .swiper-button-next {
    display: none;
  }

  .swiper-button-prev {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  #gallery {
    /* padding: 184px 158px; */
    padding-top: 184px;
    padding-bottom: 184px;
  }

  .gallery-img {
    width: 341px;
    height: 626px;
  }

  .gallery-items {
    padding-left: 55px;
    padding-right: 55px;
  }

  .gallery-heading {
    padding-right: 28.5px;
    margin-bottom: 48px;
    font-size: 72px;
    line-height: 122%;
  }

  .gallery-transparent-bubble-first {
    top: -7px;
    left: 79px;
    width: 85px;
    height: 85px;
  }

  .gallery-transparent-bubble-second {
    top: 84px;
    left: 50px;
    width: 29px;
    height: 29px;
  }

  .gallery-foam-bubble-first {
    bottom: none;
    right: none;
    top: 116px;
    left: 107px;
    width: 171px;
    height: 166px;
  }

  .gallery-foam-bubble-second {
    bottom: none;
    right: none;
    top: 242px;
    left: 77px;
    width: 83px;
    height: 81px;
  }

  .gallery-foam-bubble-third {
    bottom: none;
    right: none;
    z-index: -10;
    top: 2px;
    left: 92px;
    width: 57px;
    height: 56px;
  }
}
