.header {
  padding-top: 32px;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 24px 0;
  position: relative;
  z-index: 10;
}

.logo {
  width: 66px;
}

.nav {
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 1439px) {
  .nav {
    display: none;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.nav-link {
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 1.78;
  color: #ffd53f;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}

.menu-link {
  color: #ffd53f;
}

/*Modal*/
.mobile-menu__btn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  z-index: 1000;
}

@media screen and (min-width: 1439px) {

  .header {
    padding-top: 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .logo {
    width: 146px;
  }

  .mobile-menu__btn {
    display: none;
  }
}

.mobile-menu__btn.is-open .mobile-menu__burger {
  opacity: 0;
}

.mobile-menu__close {
  opacity: 0;
}

.mobile-menu__btn.is-open .mobile-menu__close {
  opacity: 1;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 52px 0;
  background-color: #140247;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 500ms;
  z-index: 100;
}

.mobile-nav-list {
  margin: 0 auto;
}

.mobile-nav-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.6;
  color: #ffd53f;
  text-align: center;
}

.mobile-nav-link:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu__nav {
  margin-bottom: auto;
}