.hero {
  height: 568px;
  margin-bottom: 48px;
  background-image: url(../img/hero/mainscreen@mobile@1x.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.title {
  font-family: "Sansita", sans-serif;
  color: #1ea8f9;
  font-weight: 400;
  font-size: 56px;
  line-height: 1.29;
  margin-bottom: 197px;

}

.splash {
  color: #ffd53f;
  text-align: right;

}

.bottom-back {
  width: 100%;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@media screen and (min-width: 1439px) {

  .hero {
    margin-bottom: 184px;
    background-image: url(../img/hero/mainscreen1x.png);
    background-size: 100%;
    position: relative;
  }


  .hero-content {}

  .title {
    font-family: "Sansita", sans-serif;
    color: #1ea8f9;
    font-weight: 400;
    font-size: 144px;
    line-height: 1.11;
    margin-top: 232px;
  }

  .google-link {
    display: block;
  }
}