/* Reset styles */
* {
  box-sizing: border-box;
}

html {
  margin: 0 auto;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, var(--font-family),
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

div,
li {
  box-sizing: border-box;
}

button {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}