#reviews {
  padding-top: 48px;
  position: relative;
}

.reviews-heading {
  margin-bottom: 24px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: #48a7ff;
}

.reviews-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reviews-list-item {
  height: 312px;
  width: 100%;
  padding: 99px 51px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/reviews/shell-mob.png);
}

.reviews-list-item:nth-child(even) {
  padding: 109px 70px 0;
  background-image: url(../img/reviews/jelly-mob.png);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .reviews-list-item {
    background-image: url(../img/reviews/shell-mob-2x.png);
  }

  .reviews-list-item:nth-child(even) {
    background-image: url(../img/reviews/jelly-mob-2x.png);
  }
}

.review-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  color: #46d0ff;
  margin-bottom: 4px;
}

.review-text {
  font-style: italic;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  color: #ffffff;
}

.reviews-list-item:nth-child(even) .review-title {
  color: #7d02a8;
}

.reviews-list-item:nth-child(even) .review-text {
  color: #19193d;
}

.reviews-semitransparent-bubble-first {
  top: 113px;
  right: 65px;
  width: 30px;
  height: 32px;
}

.reviews-semitransparent-bubble-second {
  top: 152px;
  right: 46px;
  width: 30px;
  height: 32px;
}

.reviews-foam-bubble-first {
  top: 84px;
  right: 42px;
  width: 47px;
  height: 44px;
}

.reviews-foam-bubble-second {
  top: 984px;
  right: 41px;
  width: 38px;
  height: 35px;
}

.reviews-foam-bubble-third {
  top: 1023px;
  right: 66px;
  width: 34px;
  height: 37px;
}

.reviews-foam-bubble-fourth {
  top: 475px;
  left: 21px;
  width: 37px;
  height: 40px;
}

.reviews-foam-bubble-fifth {
  top: 515px;
  left: 51px;
  width: 33px;
  height: 35px;
}

.reviews-foam-bubble-sixth {
  top: 1042px;
  right: 65px;
  width: 28px;
  height: 30px;
}

.reviews-foam-bubble-seventh {
  top: 1074px;
  right: 51px;
  width: 17px;
  height: 16px;
}

.reviews-foam-bubble-eighth {
  bottom: 646px;
  left: -24px;
  width: 59px;
  height: 63px;
}

.reviews-foam-bubble-ninth {
  bottom: 615px;
  left: 23px;
  width: 31px;
  height: 29px;
}

.reviews-foam-bubble-tenth {
  bottom: 573px;
  left: 10px;
  width: 21px;
  height: 23px;
}

.reviews-foam-bubble-eleventh {
  bottom: 337px;
  right: 10px;
  width: 39px;
  height: 37px;
}

.reviews-foam-bubble-twelfth {
  bottom: 315px;
  right: 20px;
  width: 49px;
  height: 52px;
}

.reviews-foam-bubble-thirdteenth {
  bottom: 284px;
  right: 13px;
  width: 29px;
  height: 31px;
}

.reviews-foam-bubble-fourteenth {
  bottom: 163px;
  right: 34px;
  width: 19px;
  height: 18px;
}

@media screen and (min-width: 1440px) {
  #reviews {
    padding-top: 184px;
  }

  .reviews-heading {
    padding-left: 121px;
    margin-bottom: 48px;
    font-size: 72px;
    line-height: 122%;
  }

  .reviews-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px 24px;
  }

  .reviews-list-item {
    flex-grow: 1;
    height: 453px;
    width: calc((100% / 3) - 48px);
    padding: 135px 83px 0;
    background-image: url(../img/reviews/shell-desktop.png);
  }

  .reviews-list-item:nth-child(even) {
    padding: 135px 73px 0 92px;
    background-image: url(../img/reviews/jelly-desktop.png);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .reviews-list-item {
      background-image: url(../img/reviews/shell-desktop-2x.png);
    }

    .reviews-list-item:nth-child(even) {
      background-image: url(../img/reviews/jelly-desktop-2x.png);
    }
  }

  .review-title {
    font-size: 32px;
    line-height: 150%;
  }

  .review-text {
    font-size: 24px;
    line-height: 133%;
  }

  .reviews-transparent-bubble {
    bottom: 55px;
    left: -65px;
    width: 155px;
    height: 155px;
  }

  .reviews-foam-bubble-first {
    top: 104px;
    right: 115px;
    width: 171px;
    height: 166px;
  }

  .reviews-foam-bubble-second {
    top: 48px;
    right: 227px;
    width: 83px;
    height: 81px;
  }

  .reviews-foam-bubble-third {
    top: 314px;
    right: 227px;
    width: 57px;
    height: 56px;
  }

  .reviews-semitransparent-bubble-first,
  .reviews-semitransparent-bubble-second,
  .reviews-foam-bubble-fourth,
  .reviews-foam-bubble-fifth,
  .reviews-foam-bubble-sixth,
  .reviews-foam-bubble-seventh,
  .reviews-foam-bubble-eighth,
  .reviews-foam-bubble-ninth,
  .reviews-foam-bubble-tenth,
  .reviews-foam-bubble-eleventh,
  .reviews-foam-bubble-twelfth,
  .reviews-foam-bubble-thirdteenth,
  .reviews-foam-bubble-fourteenth {
    display: none;
  }
}
